<% unless @notes.empty? %>
	<% @notes.each do |note| %>
		<%= render :partial => 'notes/note_data', :locals => {:limit => 1000}, :object => note %>
	<% end %>
	<span class="pagination"> <%= pagination_links_full @notes_pages %>  </span>
<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>
